<div id="about">
<div class="row">
	    <div class="col-md-8 col-md-offset-2" id ="">

			<h2 class="">About Dr Njualem </h2>

Herbal Medicine
Sir Dr. Quentin A. Njualem has a great deal of experience with herbal medicine and can prescribe herbs in an effective and safe way. To obtain a comprehensive history, Dr. Quentin will have you fill out a history form (similar to western medicine physicians), and will look at your tongue, and take your pulse for a medicine diagnosis. After the evaluation, he will recommend an herbal formula specific to your needs. Traditionally, herbs are cooked in a tea form or soup. Dr. Quentin will give a pack of raw herbs which you soak in water and drink as a tea or soup. Occasionally, herbs are given in a paste or powder form.
Herbs can conflict with Western medicine; it is important for you to inform Dr. Quentin of all medications you are currently taking. In addition, please tell your Western medical physician of any herbs you are taking. Dr. Quentin pays close attention to dosage and combination of herbs for the most benefit. Herbs are gentler than pharmaceutical drugs. Part of their action is to balance and regulate Qi. 
		</div>
</div>
</div>