<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="page-header text-center">
				<h2> Frequently Asked Questions</h2>
			</div>
			<div class="panel panel-deafult">
				<div class="panel-body">
					<h2>What is  Herbal medicine ?</h2>
						<p>
							Traditional herbal medicine combines all herbal remedies.  THM has been helping people stay healthy for over 2500 years.
						</p>
				</div>
			</div>

			<div class="panel panel-deafult">
				<div class="panel-body">
					<h2>Does Herbal medicine hurt ?</h2>
						<p>
							No. Dr. Quentin uses very fine, flexible disposable techniques.  Most patients find the treatment very relaxing.
						</p>
				</div>
			</div>

			<div class="panel panel-deafult">
				<div class="panel-body">
					<h2>How does herbal medicine work ?</h2>
						<p>
							According to the classical doctrines of medicine there is an unceasing flow of  "life energy" called Qi (pronounced chee) throughout the human body. Qi originates from the major organs and flows along circulatory channels called meridians. A healthy body has smooth and balanced Qi. An unhealthy or painful body has a disturbed Qi.Herbal medicine points are on the meridians.
						</p>
				</div>
			</div>

			<div class="panel panel-deafult">
				<div class="panel-body">
					<h2>Are there any side effects from Herbal medicine ?</h2>
						<p>
							None at all.  One of the best advantages of Herbal medicine is its' safety.
						</p>
				</div>
			</div>

		</div>
	</div>
</div>