<div class="container">
	<div class="page-header text-center">
	  	<h2>Herbal Medicine</h2>
	</div>

    <div class="section">
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <%=image_tag("kittle.jpg", size: "300x260", alt: "Edit Entry" , class: "img-circle")%>
		    </a>
		  </div>
		  <div class="media-body">
		 
		    	    Sir Dr. Quentin A. Njualem has a great deal of experience with herbal medicine and can prescribe herbs in an effective and safe way. To obtain a comprehensive history, Dr. Quentin will have you fill out a history form (similar to western medicine physicians), and will look at your tongue, and take your pulse for a medicine diagnosis. After the evaluation, he will recommend an herbal formula specific to your needs. Traditionally, herbs are cooked in a tea form or soup. Dr. Quentin will give a pack of raw herbs which you soak in water and drink as a tea or soup. Occasionally, herbs are given in a paste or powder form.<br>
			Herbs can conflict with Western medicine; it is important for you to inform Dr. Quentin of all medications you are currently taking. In addition, please tell your Western medical physician of any herbs you are taking. Dr. Quentin pays close attention to dosage and combination of herbs for the most benefit. Herbs are gentler than pharmaceutical drugs. Part of their action is to balance and regulate Qi


			
		  </div>
		</div>
		<p class="section text-center " >
				The conditions treated by herbs are nearly endless! Below is list of conditions that benefit from Herbal Medicine:
			</p>
	</div>

<div class="section">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			 
			<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Gynecological
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body ">
			        <ul class="list-group">
					<l1 class="list-group-item">PMS</l1>
					<l1 class="list-group-item">Menstrual cramps</l1>
					<l1 class="list-group-item">Period regulation</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				</ul>
			      </div>
			    </div>
			</div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Respiratory
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			         <ul class="list-group">
						<l1 class="list-group-item">Asthma</l1>
						<l1 class="list-group-item">Sinusitis</l1>
						<l1 class="list-group-item">bronchitis</l1>
						<l1 class="list-group-item text-right">.....more</l1>
				     </ul>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Emotional
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <ul class="list-group">
					<l1 class="list-group-item">anxiety</l1>
					<l1 class="list-group-item">depression</l1>
					<l1 class="list-group-item">mood swings</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				    </ul>
			      </div>
			    </div>
			  </div>

				<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingfour">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
			          Gastrointestinal
			        </a>
			      </h4>
			    </div>
			    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
			      <div class="panel-body">
			        <ul class="list-group">
					<l1 class="list-group-item">diarrhea</l1>
					<l1 class="list-group-item">constipation</l1>
					<l1 class="list-group-item">gastritis</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				    </ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading5">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
			          Urogenital
			        </a>
			      </h4>
			    </div>
			    <div id="collapse5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading5">
			      <div class="panel-body">
			         <ul class="list-group">
					<l1 class="list-group-item"> urinary tract infections</l1>
					<l1 class="list-group-item">Period regulation</l1>
					<l1 class="list-group-item">sexual dysfunction</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				     </ul>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading6">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
			          Neurological
			        </a>
			      </h4>
			    </div>
			    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
			      <div class="panel-body">
			        <ul class="list-group">
					<l1 class="list-group-item">neuralgia</l1>
					<l1 class="list-group-item"> migraines</l1>
					<l1 class="list-group-item">insomnia</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				    </ul>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading7">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
			          Musculoskeletal
			        </a>
			      </h4>
			    </div>
			    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
			      <div class="panel-body">
			        <ul class="list-group">
					<l1 class="list-group-item">low back</l1>
					<l1 class="list-group-item"> neck</l1>
					<l1 class="list-group-item"> shoulder pain</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				    </ul>
			      </div>
			    </div>
			  </div>

				<div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading8">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
			          Circulatory
			        </a>
			      </h4>
			    </div>
			    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
			      <div class="panel-body">
			        <ul class="list-group">
					<l1 class="list-group-item">hypertension</l1>
					<l1 class="list-group-item">angina pectoris</l1>
					<l1 class="list-group-item"> anemia</l1>
					<l1 class="list-group-item text-right">.....more</l1>
				</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
</div>