<div class="container">
	<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
	
			<div class="page-header">
				<h2>Patient Forms Download Here</h2>
			</div>
			<strong>Please download, print, and fill out forms below before you come to the office for your first visit.</strong>
			<br>
		If you would like, you can save the forms on your desktop and use your computer to fill them out or you can still it online and submit to us.

		 
		<p><h3>Words From Our Herbalist</h3></p>

		Undoubtedly, if you have traveled to these pages you have a sincere interest in the many benefits that herbal medicine can bring into your life.

		<p>As a life-long health care provider, I personally commend your decision. Unlike many other websites we are REALLY here to serve you. That is essentially our function, and we derive pleasure from knowing that you have given us the privilege to help and participate in your lives with you.</p>

		These three simple questions stand out as primary, and have been asked of myself and other master herbalists many times, I hope they will clear the way for some of you.

		<p>You may be asking yourself:<blockquote><p>Why doesn't my personal physician know anything about the benefits of herbal medicine ?</p></blockquote></p>

		<p>Western physicians are trained to cure symptoms.</p>
		Alternative remedies and therapies are often not taught at all in medical schools. To understand one of the reasons why, we must look at the influence large pharmaceutical companies exert on colleges teaching medicine. They donate computers, organize lectures, overseas field trips, scholarships, grants, offer employment, etc., and to top it all, at graduation they actually advise the graduates that in essence they do not need to even be concerned with new developments in medicine, since their representatives will come around often with samples of all new medications. The recent graduate, having to worry about setting-up a practice, insurance, employees, patients and overhead, often findstheir offers to hard to resist.

		<p>By proxy, these same salesmen actually influence or even help make the decision on which medications the doctor is to employ concerning your health. Of course, since herbal formulas cannot per se be patented, their representatives will not be recommending these or bringing any around.</p>

		<p><h3>How long must I continue treatment using herbs or formulas... ?</h3></p>
		The answer to this lies in each individual's presenting symptoms and imbalance. Most often than not, the course of treatment using herbal medicines for a primary disorder is typically 30 to 90 days, with the later part used to secure and consolidate the progress achieved. The determination to continue with additional courses of therapy will depend on the degree of relief obtained and the desired end result.

		<p><h3>What is the best way to take herbal formulas... ?</h3></p>
		Herbs in pills, capsules, powder, or tablet form will achieve maximum influence after about one hour, although they will begin having effect after about 30 minutes. Such effects can be helped by consuming the herbs in warm water or tea, by ingesting a small amount of red wine (in cases where it might be appropriate), or by consuming a small amount of bland food to stimulate the digestive system. Extracts or tinctures are often suggested since they work better and faster, and the shelf life of pills or tablets is often unknown.
		<p>In conclusion, we are here to serve you and your needs, please feel free to contact us at any time.</p>
		Best wishes.


			<div class="row">
				<div class="col-md-4 col-md-offset-4">
				<div class="well text-center">
				<p>Click here to fill the online form</p>
					<a href="https://form.myjotform.com/61106702639553" class="btn btn-success btn-lg active" role="button">Consent For Treatment</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>