 <p><%= testimony.body %></p>
<p><%= testimony.name %></p>
	<% if user_signed_in? && current_page?(testimonies_url)%> 
	      <%= link_to "Delete this testimony", testimony, method: :delete,
				  data: { confirm: "Are you sure you want to delete this testimony?"},
				   class: "btn btn-xs btn-danger" %>
	<% end %>
 
			    