<div class="container">
		<h2>Testimonies</h2>
		<div id="posts">
		   <%= render @testimonies %>
	    </div>

			<hr>
			
		  <div id="paginator">
				 <%= paginate @testimonies, remote: true %>
				 <!--%= will_paginate @testimonies %-->
		 </div>
</div>