<% provide(:title, "Products") %>
<div class="container">
      <h2 class="text-center">All Products</h2>
      <hr>
    <div class="row">
    <% @products.each do |product| %>

        <div class="col-sm-12 col-md-6">
            <div class="indeximage">
              <%= link_to product do %>
              <p><%= image_tag(product.picture.url(:normal),class: " displayed img-responsive" )if product.picture? %></p>
              <%end%>
              <p>
                <div class="title">
                  <h2><%= link_to product.title, product %></h2>
                </div>
              </p>
              </div>
         </div>  
         <% end %>          
    </div>
</div>