<div class="container">
      <h2 class="text-center">All Products</h2>
      <hr>
    <div class="row">
    <% @products.each do |product| %>

        <div class="col-sm-12 col-md-6">
            <h3><%= link_to product.title, product %></h3>
            <%= link_to product do %>
            <p><%= image_tag(product.picture.url)if product.picture? %></p>
            <%end%>
         </div>  
         <% end %>          
    </div>
</div>